#text{
    background-color: black;
    color: white;
    font-size: 70px;
    position: absolute;
    margin-top: 50%;
    
}

body{
    background-color: black;
    color: white;
    font-size: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}